[Unit]
Description=Download and install qualified GChat package updates
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/apt/sources.list.d/gchat.sources

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/gchat-package-update
TimeoutStartSec=10min
Nice=10
IOSchedulingClass=idle
